@WSS21: Winter Spring School 2021

Jupyter Notebook Author: Sashi Nepal

## <1> Draw a rectangle with lenght=200 and width=100.

## <2> Write your initial with turtle.

## <3> Write your first name with turtle with each letter of different colors. Also draw a rectangle around your name. Screenshot your name you just wrote using turtle and post it in slack channel.

## <4> Write a code to draw a polygon with n (n>3) sides using turlte.

## <5> Write a function named polygon that takes n (number of sides) as argument and draw the polygon with n sides.

## <6>Print First 10 natural numbers using while loop and for loop.

## <7>Print the following pattern

```1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7```

## <8>Accept number from user and calculate the sum of all number from 1 to a given number.

## <9>Print multiplication table of a given number.

## <10> Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration
```number_list = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]```

## <11> Given a list, iterate it, and display numbers divisible by the number you ask from user.

```number_list = [[12, 15, 32], [42, 55, 75], [122, 132, 150, 180, 200]]```

## <12> Ask user for a whole number and  count the total number of digits in a number. And also don't forget to print the result.

## <13> Reverse the following list using for loop.
```num_list = [0,1,2,3,4,5,6,7,8,9]```  
Your resultant list should look like [9,8,7,6,5,4,3,2,1,0].

## <14> For immediate above question write a function named reverse that takes a list as input parameter and then returns the reversed list.